@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  background-color: #000000 !important;
  height: 100%;
}

body {
  background-color: #000000 !important;
  color: #cccccc !important;
  margin: 0 !important;
  padding: 0 !important;
  height: 100%;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

#__next {
  background-color: #000000;
  min-height: 100vh;
}
